<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block cart %}

<body>


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Meu carrinho</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Inicio</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Meu carrinho</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        {% if result %}
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Produtos</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    {% for p, qtd, total in products %}
                    <tbody class="align-middle">
                        <tr>
                            <td class="align-middle"><img src="data:image/png;base64, {{ p.im1 }}" alt="" style="width: 50px;">
                                {{ p.name }}</td>
                            <td class="align-middle">R${{ p.price }}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" id="minus">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{ qtd }}" id="input" readonly>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus" id="plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">R${{ total }}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary" onclick="location.href='{% url 'remove_from_cart' p.id %}'">
                                <i class="fa fa-times"></i></button></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Resumo</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">R$150,00</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Frete</h6>
                            <h6 class="font-weight-medium">R$10,00</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">R$160,00</h5>
                        </div>
                        <button onclick="window.location.href='{% url 'checkout' %}';"
                         class="btn btn-block btn-primary my-3 py-3">Ir para o checkout</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Calcular frete</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>CEP</label>
                            <input class="form-control" type="text" placeholder="CEP">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Resultado frete</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Frete</h4>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Empresa 1</h6>
                            <h6 class="font-weight-medium">R$10,00</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Empresa 2</h6>
                            <h6 class="font-weight-medium">R$30,00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="container py-5" style="text-align:center;">
                    Nenhum produto no seu carrinho.
            </div>
        {% endif %}

    </div>
    <!-- Cart End -->

</body>


 <script src="{%static 'js/plus_minus.js' %}"></script>
{% endblock cart %}