<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block checkout %}

<body>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Inicio</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Confira seus dados</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Nome</label>
                            <input class="form-control" type="text" value="{{ user_profile.user.first_name }}" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Sobrenome</label>
                            <input class="form-control" type="text" value="{{ user_profile.user.last_name }}" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" value="{{ user_profile.user }}" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
<!--                            <label>Celular</label>-->
<!--                            <input class="form-control" type="text"  placeholder="+123 456 789">-->
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Endereço</label>
                            <input class="form-control" type="text" value="{{ user_profile.location }}"placeholder="Rua/Avenida">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Complemento</label>
                            <input class="form-control" type="text" value="{{ user_profile.location_complement }}" placeholder="Número/Apto">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Cidade</label>
                            <input class="form-control" type="text" value="{{ user_profile.city }}" placeholder="Caxias do Sul">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Estado</label>
                            <input class="form-control" type="text" value="{{ user_profile.state }}" placeholder="Rio Grande do Sul">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>CEP</label>
                            <input class="form-control" value="{{ user_profile.zip_code }}" type="text" placeholder="123">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                            <button onclick="window.location.href='{% url 'checkout' %}';"
                                class="btn btn-block btn-primary my-3 py-3">Atualizar dados</button>
                            </div>
                        </div>
                    </div>
                <div class="mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Frete</h4>
                    <div class="card-body">
                        <div class="custom-control custom-radio form-group d-flex justify-content-between">
                            <input type="radio" class="custom-control-input" name="shipping" id="1">
                            <label for='1' class="custom-control-label">Empresa 1</label>
                            <h6 class="font-weight-medium">R$10,00</h6>
                        </div>
                        <div class="custom-control custom-radio form-group d-flex justify-content-between">
                            <input type="radio" class="custom-control-input" name="shipping" id="2">
                             <label for='2' class="custom-control-label">Empresa 2</label>
                            <h6 class="font-weight-medium">R$30,00</h6>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Total do Pedido</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Produtos</h5>
                        {% for p, total in products %}
                        <div class="d-flex justify-content-between">
                            <p>{{p.name}}</p>
                            <p>R${{total}}</p>
                        </div>
                        {% endfor %}
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">R${{product_total}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Frete</h6>
                            <h6 class="font-weight-medium">R${{shipping}}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">R${{subtotal}}</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Forma de Pagamento</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="pix">
                                <label class="custom-control-label" for="pix">Pix</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="boleto">
                                <label class="custom-control-label" for="boleto">Boleto</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Confirmar pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->


</body>
{% endblock checkout %}
