<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block contact %}

<body>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Fale Conosco</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Inicio</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Fale conosco</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Dúvidas ou pedidos especiais</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-3 mb-5">
            </div>
            <div class="col-lg-6 mb-5" style="text-align: center;">
                <h5 class="font-weight-semi-bold mb-3">Entre em contato</h5>
                <p>Justo sed diam ut sed amet duo amet lorem amet stet sea ipsum, sed duo amet et. Est elitr dolor elitr erat sit sit. Dolor diam et erat clita ipsum justo sed.</p>
                <div class="d-flex flex-column mb-3">
                    <h5 class="font-weight-semi-bold mb-3">Nossa loja</h5>

                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>
                        <a target="_blank" rel="noopener" href="https://goo.gl/maps/2kADRZvzxMF4E1ZeA">Rua Lorem Ipsum - Dolor sit amet</a>
                    </p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>
                        <a href="https://api.whatsapp.com/send?phone=5511012345678">12345 67890</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</body>
{% endblock contact %}