<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block detail %}
<body>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Detalhes do produto</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Início</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Detalhes do produto</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">

                        <div class="carousel-item active">
                            <img class="w-auto h-50" src="data:image/png;base64, {{ product.im1 }}" alt="Image">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="data:image/png;base64, {{ product.im2 }}" alt="Image">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{product.name}}</h3>

                <p class="mb-4">{{product.summary}}</p>

                {% if product.stock == 0 %}
                <h3 class="font-weight-semi-bold mb-4">INDISPONÍVEL!</h3>
                {% else %}
                <h3 class="font-weight-semi-bold mb-4">R${{product.price}}</h3>
                <h6 class="font-weight-semi-bold mb-4">Disponível: {{product.stock}}</h6>
                {% endif %}


                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus" id="minus">
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" id="input" value="1" readonly>
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus" id="plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3"  onclick="location.href='{% url 'add_to_cart' product.id %}'">
                        <i class="fa fa-shopping-cart mr-1"></i> Adicionar ao carrinho </button>
                </div>
<!--                <div class="d-flex pt-2">-->
<!--                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>-->
<!--                    <div class="d-inline-flex">-->
<!--                        <a class="text-dark px-2" href="">-->
<!--                            <i class="fab fa-facebook-f"></i>-->
<!--                        </a>-->
<!--                        <a class="text-dark px-2" href="">-->
<!--                            <i class="fab fa-twitter"></i>-->
<!--                        </a>-->
<!--                        <a class="text-dark px-2" href="">-->
<!--                            <i class="fab fa-linkedin-in"></i>-->
<!--                        </a>-->
<!--                        <a class="text-dark px-2" href="">-->
<!--                            <i class="fab fa-pinterest"></i>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Descrição</a>
<!--                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Informação</a>-->
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Descrição do produto</h4>
                        {{product.description}}
                    </div>
<!--                    <div class="tab-pane fade" id="tab-pane-2">-->
<!--                        <h4 class="mb-3">Informação adicional</h4>-->
<!--                        <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6">-->
<!--                                <ul class="list-group list-group-flush">-->
<!--                                    <li class="list-group-item px-0">-->
<!--                                        Sit erat duo lorem duo ea consetetur, et eirmod takimata.-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item px-0">-->
<!--                                        Amet kasd gubergren sit sanctus et lorem eos sadipscing at.-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item px-0">-->
<!--                                        Duo amet accusam eirmod nonumy stet et et stet eirmod.-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item px-0">-->
<!--                                        Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.-->
<!--                                    </li>-->
<!--                                  </ul> -->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <ul class="list-group list-group-flush">-->
<!--                                    <li class="list-group-item px-0">-->
<!--                                        Sit erat duo lorem duo ea consetetur, et eirmod takimata.-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item px-0">-->
<!--                                        Amet kasd gubergren sit sanctus et lorem eos sadipscing at.-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item px-0">-->
<!--                                        Duo amet accusam eirmod nonumy stet et et stet eirmod.-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item px-0">-->
<!--                                        Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.-->
<!--                                    </li>-->
<!--                                  </ul> -->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
 <script src="{%static 'js/plus_minus.js' %}"></script>

{% endblock detail %}