{% extends "base.html" %}
{% load static %}
{% block index %}
<body>
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Produtos de qualidade</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Produtos artesanais</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-certificate text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0" style="text-align: center">Produtos exlusivos e limitados</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Entrega garantida</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 410px;">
                <img class="img-fluid" src="{% static 'img/carousel-1.jpeg'%}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3"></h4>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Produtos 100% artesanais</h3>
                        <a href="{% url 'shop_home' %}" class="btn btn-light py-2 px-3">Comprar agora</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 410px;">
                <img class="img-fluid" src="{% static 'img/carousel-2.jpeg'%}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3">Novidades exclusivas</h4>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Quantidade limitada</h3>
                        <a href="{% url 'shop_home' %}" class="btn btn-light py-2 px-3">Comprar agora</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Novos produtos</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for p in products %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <a href="{% url 'product_detail' p.id %}"><img class="img-fluid w-100" src="data:image/png;base64, {{ p.im1 }}" alt=""></a>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">{{p.name}}</h6>
                            <div class="d-flex justify-content-center">
                                <h6>R${{p.price}}</h6>
<!--                                <h6 class="text-muted ml-2">-->
<!--                                <del>product.price</del></h6>-->
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="{% url 'product_detail' p.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Detalhes</a>
                            <a href="{% url 'add_to_cart' p.id %}" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-shopping-cart text-primary mr-1"></i>Adicionar ao carrinho</a>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->
</body>
{% endblock index %}