{% extends "base_login.html" %}
{% block login %}


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Acesse sua conta</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Inicio</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Login</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!--Login-->
{% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

{% endfor %}
<div class="container py-5" style="text-align:center;">
  <form method="POST">
    {% csrf_token %}
    {{ login_form }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Primeiro acesso? <a href="/register">Crie uma conta</a>.</p>
<!--  <p class="text-center">Esqueceu a senha? <a href="/register">Recuperar senha</a>.</p>-->
</div>

{% endblock %}