{% extends "base_login.html" %}
{% block register %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Crie sua conta</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Inicio</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Cadastro</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
{% load crispy_forms_tags %}
<!--Register-->
{% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

{% endfor %}
<div class="container py-5">
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
        <p></p>
		<button class="btn btn-primary" type="submit">Cadastrar</button>
	</form>
	<p class="text-center">Se já é cadastrado, <a href="/login">faça o login</a>.</p>
</div>
{% endblock  %}